@using GestAgape.Core.Entities.Admission
@model GestAgape.Core.Entities.Admission.Candidat

@{
    ViewData["Title"] = "Vue d'ensemble d'un Candidat";
    ViewData["Module"] = "Admission";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DemandeAdmission> DA = new List<DemandeAdmission>();
    foreach (DemandeAdmission da in ViewBag.DAList)
    {
        if (da.CandidatId == Model.Id)
        {
            DA.Add(da);
        }
    }
    string? val = "";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                @*//details user template*@
                <div class="col-md-3 col-sm-3  profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            @if (Model.DossierPersonnel.Photos != null)
                            {
                                <img src=@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.Photos}") alt="Avatar" title="Change the avatar" class="img-responsive avatar-view" width="212px" height="212px" />
                            }
                            else
                            {
                                <img src="~/img/avatars/avatar.png" alt="Avatar" title="Change the avatar" class="img-responsive avatar-view" width="212px" height="212px" />
                            }
                        </div>

                    </div>
                    <h3 class="prod_title" style="font-weight:bold;font-size:xx-large"> @Model.Personne.Nom @Model.Personne.Prenom </h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-venus-mars"></i> Sexe : @Model.Personne.Sexe
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i> Date de Naissance: @Model.Personne.DateNaissance
                        </li>
                        <li>
                            <i class="fa fa-location-arrow"></i> Nationalite : @Model.Personne.Nationalite
                        </li>
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> Lieu de naissance : @Model.Personne.LieuNaissance
                        </li>
                        <li>
                            <i class="fa fa-tag"></i>Statut Matrimonial: @Model.Personne.StatutMatrimonial
                        </li>
                        <li>
                            <i class="fa fa-registered"></i> Region : @Model.Personne.Region
                        </li>
                        <li>
                            <i class="fa fa-language"></i> Langue : @Model.Personne.Langue
                        </li>
@*                         @if (Model.Personne.Handicape == "Non")
                        {
                            val = "Non";
                        }
                        else
                        {
                            val= 
                        } *@
                        <li>
                            <i class="fa fa--wheelchair"></i>handicapé : @Model.Personne.Handicape
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>Email : @Model.Personne.Email
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Telephone : @Model.Personne.Telephone
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Code : @Model.Code
                        </li>
                    </ul>
                    <div class="form-group col-md-12">
                        <a asp-action="Candidat" data-placement="top" data-toggle="tooltip" data-original-title="Liste des Candidat" style="float: left;">

                            <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="40px" height="40px" viewBox="0 0 46.032 46.033"
                                 xml:space="preserve">
                            <g>
                            <g>
                            <path d="M8.532,18.531l8.955-8.999c-0.244-0.736-0.798-1.348-1.54-1.653c-1.01-0.418-2.177-0.185-2.95,0.591L1.047,20.479
			                    c-1.396,1.402-1.396,3.67,0,5.073l11.949,12.01c0.771,0.775,1.941,1.01,2.951,0.592c0.742-0.307,1.295-0.918,1.54-1.652l-8.956-9
			                    C6.07,25.027,6.071,21.003,8.532,18.531z" fill="#e81d27" />
                            <path d="M45.973,31.64c-1.396-5.957-5.771-14.256-18.906-16.01v-5.252c0-1.095-0.664-2.082-1.676-2.5
			                    c-0.334-0.138-0.686-0.205-1.033-0.205c-0.705,0-1.398,0.276-1.917,0.796L10.49,20.479c-1.396,1.402-1.396,3.669-0.001,5.073
			                    l11.95,12.009c0.517,0.521,1.212,0.797,1.92,0.797c0.347,0,0.697-0.066,1.031-0.205c1.012-0.418,1.676-1.404,1.676-2.5V30.57
			                    c4.494,0.004,10.963,0.596,15.564,3.463c0.361,0.225,0.77,0.336,1.176,0.336c0.457,0,0.91-0.139,1.297-0.416
			                    C45.836,33.429,46.18,32.515,45.973,31.64z" fill="#e81d27" />
                            </g>
                            </g>
                        </svg>
                        </a>
                        <a asp-action="UpdateCandidat" asp-route-Id="@Model.Id" data-placement="top" data-toggle="tooltip" data-original-title="Modifier le  Candidat" class="btnperso" style="background-color: #22a9e1; border: #22a9e1;float: right;"><i class="fa fa-edit m-right-xs"></i>Modifier </a>
                        <br />
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 ">

                    @*<div class="profile_title">

                    </div>*@
                    <div class="form-group row col-12">

                        <div class="col-md-12">
                            <div class="form-group row col-12">
                                <div class="form-group col-4">
                                    <label asp-for="Vision" class="control-label"> Vision</label>
                                    <input asp-for="Vision" class="form-control" readonly />
                                </div>

                                <div class="form-group col-4">
                                    <label asp-for="Quartier" class="control-label">Quartier</label>
                                    <input asp-for="Quartier" class="form-control" readonly />
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="Etablissement" class="control-label">Etablissement</label>
                                    <input asp-for="Etablissement" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="form-group row col-12">
                                <div class="form-group col-4">
                                    <label asp-for="NomMere" class="control-label">Nom de la mère</label>
                                    <input asp-for="NomMere" class="form-control" readonly />
                                </div>

                                <div class="form-group col-4">
                                    <label asp-for="ProfessionMere" class="control-label">Profession de la mère</label>
                                    <input asp-for="ProfessionMere" class="form-control" readonly />
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="TelephoneMere" class="control-label">Téléphone de la mère</label>
                                    <input asp-for="TelephoneMere" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="form-group row col-12">
                                <div class="form-group col-4">
                                    <label asp-for="NomPere" class="control-label"> Nom du père</label>
                                    <input asp-for="NomPere" class="form-control" readonly />
                                </div>

                                <div class="form-group col-4">
                                    <label asp-for="ProfessionPere" class="control-label">Profession du père</label>
                                    <input asp-for="ProfessionPere" class="form-control" readonly />
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="TelephonePere" class="control-label">Téléphone du père</label>
                                    <input asp-for="TelephonePere" class="form-control" readonly />
                                </div>
                            </div>


                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Liste des demandes d'admission</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Composition du Dossier</a>
                                    </li>
                                    @*<li role="presentation" class="">
                                    <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false"></a>
                                    </li>*@
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                                        <partial name="_PartialDemandeAdmission" model="@DA" />
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                        <ul class="list-unstyled project_files ">
                                            <br />
                                            <li>
                                                @if (Model.DossierPersonnel.ActeNaissance != null)
                                                {
                                                    <a data-placement="top" data-toggle="tooltip" data-original-title="Acte de Naissance" target="_blank" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ActeNaissance}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ActeNaissance</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.Photos != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Photo" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.Photos}")"><i class="fa fa-picture-o"></i>@Model.DossierPersonnel.Photos</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.CNI != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="CNI" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.CNI}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.CNI</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.ReleveBac != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Releve du Bac" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ReleveBac}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ReleveBac</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.ReleveNiveau1 != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Releve de Niveau 1" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ReleveNiveau1}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ReleveNiveau1</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.ReleveNiveau2 != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Releve de Niveau 2" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ReleveNiveau2}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ReleveNiveau2</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.ReleveBTS != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Releve du bts" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ReleveBTS}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ReleveBTS</a>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.DossierPersonnel.ReleveLicence != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Releve de Licence" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ReleveLicence}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ReleveLicence</a>
                                                }
                                            </li>
                                            <li>

                                                @if (Model.DossierPersonnel.ReleveMaster1 != null)
                                                {
                                                    <a target="_blank" data-placement="top" data-toggle="tooltip" data-original-title="Releve de Master 1" href="@Url.Content($"~/Data/DossierFolder/{ Model.DossierPersonnel.ReleveMaster1}")"><i class="fa fa-file-pdf-o"></i>@Model.DossierPersonnel.ReleveMaster1</a>
                                                }
                                            </li>
                                        </ul>
                                        <div class="text-center mtop20">
                                            <br />
                                            <a asp-action="UpdateCandidat" asp-route-Id="@Model.Id" class="btnperso" style="background-color: #e81d27; border: #e81d27;float: right;"><i class="fa fa-edit m-right-xs"></i>Mettre a jour le dossier de @Model.Personne.Nom @Model.Personne.Prenom ? </a>
                                            <br />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 @*22a9e1*@