@using GestAgape.Core.Entities.Scolarite
@using GestAgape.Core.Entities.Admission
@using GestAgape.Core.Entities.Parametrage
@model IEnumerable<GestAgape.Core.Entities.Scolarite.ChangementFiliereOrCampus>

@{
    ViewData["Module"] = "Scolarité";
    ViewData["Title"] = "Vue d'ensemble sur les changements de campus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<p class="mb-3"><p>

    <div class="x_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <table id="datatable" class=" table table-sm table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr style="color: #22a9e1;">
                                <th>#</th>
                                <th>Matricule</th>
                                <th>Nom(s) & Prénom(s)</th>
                                <th>Campus initial</th>
                                <th>Campus de destination</th>
                                <th>Motif</th>
                                <th>Décision</th>
                                <th>Date de validation</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td scope="row">
                                            @i
                                    </td>
                                    <td>
                                            @Html.DisplayFor(Model => item.Inscription.Matricule.LibelleMatricule)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Inscription.DemandeAdmission.Candidat.Personne.Nom) @Html.DisplayFor(modelItem => item.Inscription.DemandeAdmission.Candidat.Personne.Prenom)
                                    </td>
                                    <td>
                                            @foreach (Campus campus in ViewBag.Campus)
                                            {
                                                if (campus.Id.ToString() == item.PastCampus)
                                                {
                                                    @Html.DisplayFor(modelItem => campus.Nom)

                                                }
                                            }
                                    </td>
                                    <td>
                                            @foreach (Campus campus in ViewBag.Campus)
                                            {
                                                if (campus.Id.ToString() == item.NextCampus)
                                                {
                                                    @Html.DisplayFor(modelItem => campus.Nom)

                                                }
                                            }
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.MotifChangement)

                                    </td>

                                    <td>
                                            @if (item.Statut == Statut.accepte)
                                            {
                                            <a class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip"
                                               data-original-title="Modifier la décision" asp-route-id="@item.Id"><strong style="color:rgb(0,94,0);">Validé</strong></a>
                                            }
                                            else if (item.Statut == Statut.Refuse)
                                            {
                                            <a asp-action="UpdateStatutChangCampus" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip"
                                               data-original-title="Modifier la décision" asp-route-id="@item.Id"><strong style="color:#e81d27;">Refusé</strong> </a>
                                            }
                                            else
                                            {
                                            <a asp-action="ValidateChangementCampus" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip"
                                               data-original-title="Modifier la décision" asp-route-id="@item.Id"><strong style="color:#F99910;">En Attente</strong> </a>
                                            }
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.AddedDate)

                                    </td>
                                        @if (item.Statut == Statut.EnAttente)
                                        {
                                        <td>
                                            <p><i>Pas encore traité</i></p>
                                        </td>
                                        }
                                        else
                                        {
                                        <td style="text-align:center">
                                            <a asp-action="UpdateChangementCampus" type="button" data-placement="top" data-toggle="tooltip" data-original-title="modifier cete demande?" asp-route-id="@item.Id" style="color:rgb(189,165,28); font-size:20px;">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>

                                        }
                                </tr>

                                    i++;
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
